* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif, Arial;
}

@media only screen and (max-width: 600px) {
  .wrapper {
    width: 80%;
    height: 80vh;
    margin-top: 10%;
  }

  .display {
    flex-direction: column;
    gap: 33px;
  }

  .recent-s {
    width: 100%;
  }

  .add-s {
    margin-top: 25px;
  }
}

.wrapper {
  margin: 0 auto;
  width: 60%;
  height: 60vh;
  margin-top: 15%;
}

.display {
  display: flex;
  gap: 66px;
}

.score-title-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-s {
  gap: 25px;
  flex: 1;
}

.btn-refresh {
  box-shadow: 3px 3px rgb(192, 187, 187);
  display: block;
  padding: 9px;
  background: none;
  border: none;
  font-size: 16px;
  font-weight: 500;
  color: rgb(102, 97, 97);
  cursor: pointer;
}

.btn-refresh:hover {
  background-color: rgb(196, 180, 212);
}

h1 {
  margin-bottom: 33px;
}

.score-wrap tr td, .score-wrap tr th {
  border: 1px solid #333;
  width: 100%;
  padding: 8px 10px;
}

.score-title-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

td,
th {
  border: 1px solid white;
  text-align: left;
  padding-left: 2px;
  padding-right: 2px;
  padding: 10px 15px;
}

tr:nth-child(even) {
  background-color: rgb(219, 214, 214);
}

td:nth-child(even) {
  width: 100%;
}

table {
  border: black;
  border-collapse: collapse;
}

.recent-s {
  width: 50%;
}

.add-submit {
  display: flex;
  justify-content: flex-end;
}

.submit-btn {
  box-shadow: 3px 3px rgb(192, 187, 187);
  display: block;
  padding: 9px;
  background: none;
  border: none;
  font-size: 16px;
  font-weight: 500;
  color: rgb(102, 97, 97);
  cursor: pointer;
  margin-top: 10px;
}

.submit-btn:hover {
  background-color: rgb(196, 180, 212);
}

#user-name {
  margin-top: 23px;
  margin-bottom: 5px;
  padding: 10px;
  width: 100%;
  color: #fff;
  padding: 8px 10px;
  border: 1px solid #333;
}

#user-score {
  margin-top: 9px;
  padding: 9px;
  width: 100%;
  color: #fff;
  padding: 8px 10px;
  border: 1px solid #333;
}
